$r:375 / 10 ;
//函数用来接收px返回rem
@function px2rem($px){
  @return $px / $r + rem
};



@import './reset.scss';  //浏览器基础样式重置
@import './mixin.scss';  //定义的mixin样式
@import './home.scss';  //home页使用的一些样式




//标题出现隐藏的动画
.slide-down-enter, .slide-down-leave-to {
  transform: translate3d(0, -100%, 0)
}
.slide-down-enter-to, .slide-down-leave, .slide-up-enter-to, .slide-up-leave {
  transform: translate3d(0, 0, 0)
}
.slide-down-enter-active, 
.slide-down-leave-active, 
.slide-up-enter-active, 
.slide-up-leave-active, 
.fade-enter-active, 
.fade-leave-active, 
.slide-right-enter-active, 
.slide-right-leave-active,
.family-slide-up-enter-active,
.family-slide-up-leave-active
.table-slide-right-enter-active,
.table-slide-right-leave-active,
.title-move-enter-active,
.title-move-leave-active
.hot-search-move-enter-active,
.hot-search-move-leave-active{
  transition: all .3s linear;
}
.slide-up-enter, .slide-up-leave-to {
  transform: translate3d(0, px2rem(138), 0)
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.fade-enter-to, .fade-leave {
  opacity: 1;
}
.slide-right-enter, .slide-right-leave-to {
  transform: translate3d(-100%, 0, 0);
}
.family-slide-up-enter, .family-slide-up-leave-to{
  transform: translate3d(0,100%,0);
  opacity: 0;
}
.family-slide-up-enter-to, .family-slide-up-leave,
.title-move-enter-to, .title-move-leave
.hot-search-move-enter-to, .hot-search-move-leave{
  transform: translate3d(0,0,0);
  opacity: 1;
}
.table-slide-right-enter, .table-slide-right-leave-to{
  transform: translate3d(-100%,0,0);
  opacity: 0;
}
.table-slide-right-enter-to, .table-slide-right-leave{
  transform: translate3d(0,0,0);
  opacity: 1;
}

//书城标题最终消失的位置(向下偏移10px)
.title-move-enter, .title-move-leave-to{
  transform: translate3d(0,px2rem(10),0);
  opacity: 0;
}

//热门搜索的展示与隐藏动画
.hot-search-move-enter, .hot-search-move-leave-to{
  transform: translate3d(0,px2rem(30),0);
  opacity: 0;
}


