//定义共用的样式,
@mixin center {
  display: flex;
  justify-content: center;
  align-self: center;
}
@mixin centers{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin columnTop{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@mixin columnCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@mixin left{
  display: flex;
  justify-content:flex-start;
  align-items:center;
}
//对于元素内文字单行不换行带省略号这个设置,需要指定元素的宽度才可以
@mixin ellipsis{
  text-overflow:ellipsis ;
  overflow: hidden;
  white-space: nowrap;
}
@mixin top{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@mixin scroll{
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar{
    display: none;
  } 
}
//显示任意行,在结尾处省略号
@mixin ellipsis2($line){
  display: -webkit-box;
  -webkit-box-orient: vertical;
  //显示两行
  -webkit-line-clamp: $line;
  //正常换行
  white-space:normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break:break-all;
}
@mixin columnLeft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@mixin abCenter{
  position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
}
// .icon{
//   color: #666;
//   font-size: px2rem(16);
// }
// .title{
//   color:#666;
//   font-size: px2rem(16);
//   font-weight: bold;
// }

$blue-transparent:rgba(104, 104, 236,.4);
$color-green:yellowGreen
